body {
    font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

#current-inventory-section, #order-section {
    margin: 20px;
    padding: 15px;
    border: 1px solid white;
}

#order-form input[type="text"], #order-form input[type="number"] {
    margin: 10px 0;
    padding: 10px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}